.passwordInput {
  height: 46px;
  .input {
    font-size: 1rem;

    padding: 12px 96px 12px 16px;
    border: 2px solid #5d5fef44;
    &:focus-within {
      caret-color: #5d5fef;
      border: 2px solid #5d5fefc2;
    }
  }

  .input-right-element {
    height: 100%;
    width: 60px;

    .button {
      height: 100%;
      width: 100px;
      border-radius: 0 92px 92px 0;
      background-color: rgba(22, 24, 35, 0);

      .search_icon {
        height: 100%;
        width: 25px;
        transition: 0.4s;
        color: rgb(22, 24, 35);
      }
    }
  }
}
