body {
  overflow-x: hidden;
}

.Wrapper {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  .Container {
    width: 100%;
    flex-direction: column;
    flex: 1;
    .Children {
      padding-top: 10px;
    }
  }
}
