// shared.scss

// Container styles
.container {
  width: 100%;
  flex-direction: column;
}

.searchWrapper {
  width: "auto";
  margin-top: 10px;
  margin-left: 20px;
  justify-content: space-between;
  align-items: center;
}

// Table styles
.table {
  width: 100%;
  padding: 20px;
  user-select: none;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;

  .tableContainer {
    border-radius: 7px;
    background-color: #fff;
    width: 100%;
    // overflow: hidden;

    &.shadow {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .tableItem {
      transition: 0.3s;
      &:hover {
        background-color: #e7e8ff;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      &:active {
        transition: 0.1s;
        box-shadow: none;
      }
      td {
        font-size: 18px;
      }
    }
  }

  .header {
    color: black;
    font-size: 15px;
    text-align: center;
  }

  .wrapText {
    width: 40%;
    white-space: normal;
  }

  .itemImage {
    max-width: 100%;
    max-height: 100%;
  }
}

// Settings styles
.settingItem {
  width: 100%;
  height: 25px;
  justify-content: center;

  .settingsIconBtn {
    width: 0px;
    height: 25px;
    background-color: transparent !important;
    .settingsIcon {
      transition: 0.3s;
      width: 25px;
      height: 25px;
      cursor: pointer;
      &:hover {
        rotate: 180deg;
        background-color: transparent !important;
      }
      &:active {
        width: 20px;
        height: 20px;
      }
    }
  }
}

// Popover styles
.PopoverContent {
  width: 100% !important;

  .PopupButton {
    width: 100%;
    height: 40px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    border-radius: 8px;
    font-weight: bold;

    &:hover {
      background-color: #e7e8ff;
      color: #696cff;
    }
    &:active {
      background-color: #d6d7f5;
    }

    .PopupButtonText {
      margin-left: 6px;
      margin-right: 6px;
    }
  }
}

.placeholder {
  font-style: italic;
  color: #949494;
  font-size: 1em;
}

.textFontWeight600 {
  font-weight: 600;
}

.InputField {
  border: 2px solid #55ad9b;
  &:focus {
    border: 2px solid #95d2b3;
  }
  &:hover {
    border: 2px solid #95d2b3;
  }
}

.InputFileField {
  padding: 5px;
  border: none;
}

.primaryButton {
  background-color: #696ce7 !important;
  color: #f1f8e8 !important;
  &:hover {
    background-color: #5d5fef !important;
  }
  &:active {
    background-color: #4c4eec !important;
  }
}

.addButton {
  margin-right: 20px;
  height: 100%;
}

.cancelButton {
  background-color: #edf2f7 !important;
  margin-right: 0.75rem;
  &:hover {
    opacity: 0.7;
  }
}

.ml16Down {
  margin-left: -16px;
}
